.trends {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid #39444D;
    cursor: pointer;
    
}

.trends:hover {
    background-color: #263341;
}

.trends_description {
    font-size: 13px;
    color: #8899A6;
}

.trends_topic {
    font-size: 16px;
    font-weight: 800;
    margin-top: 5px;
}

.trends_tweets {
    font-size: 13px;
    color: #8899A6;
    margin-top: 5px;
}