.widgets {
    flex: 0.3;
}

.widgets_input {
    background-color: #263341;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    align-items: center;
}

.widgets_searchIcon {
    color: #8899A6;
}
.widgets_input > input {
    flex: 1;
    margin-left: 10px;
    border: none;
    background-color: #263341;
    font-size: 15px;
    color: white;
}

.widgets_trends_container {
    border-radius: 20px;
    background-color: #192735;
    margin-left: 20px;
}

.widgets_trends_container_header {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #39444D;
}

.widgets_trends_container_header > h2 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 900;
}

.widgets_trends_header_icon {
    margin-left: 140px;
    color: var(--twitter-color);
}

.widgets_showmore {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    font-size: 15px;
    color: var(--twitter-color);
}

.widgets_wtfollow_container {
    border-radius: 20px;
    background-color: #192735;
    margin-left: 20px;
    margin-top: 10px;
    
}

.widgets_wtfollow_container_header {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #39444D;
}

.widgets_wtfollow_container_header > h2 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 900;
}

.widgets_footer {
    padding: 20px;
    margin-left: 20px;
    font-size: 13px;
    color: #8899A6;
}

.widgets_footer_footertop {
    display: flex;
    justify-content: space-evenly;

}

.widgets_footer_footerdown {
    margin-top: 10px;
    margin-left: 10px;
}