.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #263341;
    padding-bottom: 10px;
}

.post_avatar {
    padding: 20px;
}

.post_body {
    flex: 1;
    padding: 10px;
}

.post_headerSpecial {
    font-weight: 600;
    font-size: 15px;
    color: gray;
}
.post_headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post_headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post_body > img {
    border-radius: 20px;
    width: 500px;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}